<header-component></header-component>
<ng-container [ngSwitch]="currentScreen">
  <home-screen-component *ngSwitchCase="AppScreen.Home"></home-screen-component>
  <login-screen-component *ngSwitchCase="AppScreen.Login"></login-screen-component>
  <create-account-component *ngSwitchCase="AppScreen.CreateAccount"></create-account-component>
  <search-screen-component *ngSwitchCase="AppScreen.Search"></search-screen-component>
  <profile-screen-component *ngSwitchCase="AppScreen.Profile"></profile-screen-component>
</ng-container>