@import url(https://fonts.googleapis.com/css?family=Raleway:100,600,400);

* {
    font-family: Raleway;
}

:host {
    width: 100%;
    background-color: #F5FAFA;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 175px auto 100px;
    padding: 45px;
    text-align: center;
    border: 1px solid #6D929B;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #F5FAFA;
    color: #E8D0A9;
    width: 100%;
    border: 1px solid #6D929B;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

::placeholder {
    color: #E8D0A9;
}

.form button {
    text-transform: uppercase;
    background: #6D929B;
    width: 100%;
    padding: 15px;
    color: #E8D0A9;
    border: 0;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #C1DAD6;
}

.form .message {
    margin: 15px 0 0;
    color: #E8D0A9;
    font-size: 12px;
}

.form .message span {
    color: #6D929B;
    text-decoration: none;
    cursor: pointer;
}
