@import url(https://fonts.googleapis.com/css?family=Raleway:100,600,400);

* {
    font-family: Raleway;
}

:host {
    width: 100%;
    background-color: #F5FAFA;
}

.charity-profile-well {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 175px auto 100px;
    padding: 45px;
    text-align: center;
    border: 1px solid #6D929B;
}