<div class="title-div">What is Charity Chain?</div>
<div class="description-container">
    <div class="description-div">
        <div class="description-title">
            Search for Charities
        </div>
        <div class="hands-icon"></div>
        <div class="description">
            
        </div>
    </div>
    <div class="description-div">
        <div class="description-title">
            View Transactions
        </div>
        <div class="reputation-icon"></div>
        <div class="description">
            
        </div>
    </div>
    <div class="description-div">
        <div class="description-title">
            Donate via CharityCoin
        </div>
        <div class="donation-icon"></div>
        <div class="description">
            
        </div>
    </div>
</div>