<div class="title-div">What is Charity Chain?</div>
<div class="description-container">
    <div class="description-div">
        <div class="description-title">
            Search for Charities
        </div>
        <div class="hands-icon"></div>
        <div class="description">
            <p>
                Access data and ratings of more than 8,000 charities. These charities receive more than half of all private contributions made in the USA, when excluding houses of worship.  
            </p>
        </div>
    </div>
    <div class="description-div">
        <div class="description-title">
            View Transactions
        </div>
        <div class="reputation-icon"></div>
        <div class="description">
            <p>
                View where charities' donations go and what they're spending donated funds on to ensure you're giving to credible organizations. Transaction histories are transparent and verified by blockchain technology.
            </p>
        </div>
    </div>
    <div class="description-div">
        <div class="description-title">
            Donate via CharityCoin
        </div>
        <div class="donation-icon"></div>
        <div class="description">
           <p>
                Directly donate to charities through our platform using CharityCoin, our cryptocurrency that charities can convert to fiat money.
          </p>
        </div>
    </div>
</div>
