@import url(https://fonts.googleapis.com/css?family=Raleway:100,600,400);

* {
    font-family: Raleway;
}

:host {
    display: flex;
    flex-direction: column;
    background: #F5FAFA;
    margin-top: 75px;
    width: 100%;
    height: calc(100% - 75px);
    overflow: auto;
}

.search-div {
    width: calc(100% - 100px);
    margin: 50px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.search-well {
    border-radius: 10px;
    background: #C1DAD6;
    height: 50px;
    padding-left: 15px;
    margin-right: -32px;
    font-size: 24px;
    width: 100%;
    border: 1px solid #6D929B;
    color: #B7AFA3;
    outline: none;
}

::placeholder {
    color: #B7AFA3;
}

.search-icon {
    position: relative;
    right: 16px;
    width: 32px;
    height: 32px;
    background: url(../../assets/magnifier-tool.svg);
    background-size: 32px 32px;
}

.search-results {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-headers {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid #C1DAD6;
    color: #B7AFA3;
}

.organization {
    flex: 0 0 200px;
}

.tagline {
    flex: 1 1 0px;
}

.rating {
    flex: 0 0 200px;
    display: flex;
}

.more-details {
    flex: 0 0 150px;
}

.search-result {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #C1DAD6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    color: #B7AFA3;
    cursor: pointer;
}

.button:hover {
    border-bottom: 1px solid #B7AFA3;
}

.star-icon {
    width: 32px;
    height: 32px;
    background: url(../../assets/star.svg);
    background-size: 32px 32px;
    margin-right: 4px;
}