<div class="search-div">
    <input type="text" [ngModel]="searchText" (ngModelChange)="updateSearch($event)" placeholder="Search for Charities" class="search-well"/>
    <div class="search-icon"></div>
</div>

<div class="search-results">
    <div class="search-headers">
        <div class="organization">Organization</div>
        <div class="tagline">Tagline</div>
        <div class="rating">Rating</div>
        <div class="more-details">More Details</div>
    </div>
    <div *ngFor="let charity of filteredCharities" class="search-result">
        <div class="organization">{{charity.charity_name}}</div>
        <div class="tagline">{{charity.tag_line}}</div>
        <div class="rating"><div *ngFor="let star of getStars(charity.rating)" class="star-icon"></div></div>
        <div class="more-details"><span class="button" (click)="openMoreDetails(charity)">More Details</span></div>
    </div>
<div>

<div class="overlay" [class.visible]="showingDetails">
    <profile-well-component [jsonProfile]="jsonProfile" [overlay]="true" (overlayClosed)="showingDetails = false" (donateClicked)="donateClicked()"></profile-well-component>
</div>